
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Crete+Round:ital@0;1&family=Kalam:wght@700&family=Poppins:wght@500&family=Roboto:ital@1&display=swap');


#about{
    margin-top: 30px;
}
#about .container .row .cols img {
    border-radius: 8px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#about .container .row .col  p {
    line-height: 25px;
    font-size: 20px;
    font-style: italic;
   
    font-weight: bold;
    width: 350px;
    text-align: justify;
}
#about .container .row .col{
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    align-items: center;
}

#about .container .row .cols{
    display: flex;
   
    align-items: center;
    justify-content:center;
}


#about .container .row .col .course {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#about .container .row .col .course .month,
#about .container .row .col .course .pro,
#about .container .row .col .course .complete {

    width: 300px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */


}

#about .container .row .col .course .month h4,
#about .container .row .col .course .pro h4,
#about .container .row .col .course .complete h4 {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-weight: 800;

}

body.active #about .container .row .col div p,
body.active #about .container .row .col .course .month h4,
body.active #about .container .row .col .course .pro h4,
body.active #about .container .row .col .course .complete h4 {
    color: white;
}

@media (max-width:990px)
{
    #about .container .row {
        display: flex;
        flex-direction: column;
    }
    #about .container .row .col  p {
        margin-top: 15px;
    
      margin: 15px 30px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #about .container .row .cols img{
        width: 300px;
    }
    .container .row .col div p{
        /* background-color: red; */
        margin: 0px 10px;
        text-align: justify;
      

        padding: 10px;
    }

}